{
  "root": true,
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["jest", "react", "prettier"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "camelcase": 0,
    "no-loop-func": 0,
    "class-methods-use-this": 0,
    "no-console": "error",
    "no-restricted-syntax": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ],
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.0"
    }
  }
}
