html, body {
  height: 100%;
  font-size: 20pt;
}

.container {
  max-width: 100%;
  padding: 0;
}

.playlist-body main {
  display: table;
  height: 100%;
  width: 100%;
}

.playlist {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.playlist-container {
  padding: 2rem;
}

.playlist h1 {
  font-size: 2rem;
  font-weight: 700;
}

.playlist h2 {
  font-size: 1rem;
  font-weight: normal;
}

.playlist h3 {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.playlist h3, .playlist h4, .playlist h5 {
  opacity: 0.7;
}

.playlist h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.playlist h5 {
  font-size: 0.8rem;
}

.playlist img {
  max-width: 70%;
  max-height: 18rem;
}

.playlist .image-container {
  text-align: right;
  padding-right: 0;
}

.playlist .playlist-description {
  font-size: 1rem;
}

.label-tile {
  width: 30%;
  height: 8rem;
  padding: 1rem;
  background-color: grey;
}

.label-tile:nth-child(even) {
  background-color: lightgrey;
}

.label-tile:hover {
  background-color: rgb(238, 112, 92);
  cursor: pointer;
}

.label-tile h2 {
  font-weight: 700;
}

.modal-dialog {
  max-width: 50rem;
}

.label-modal-container {
  width: 100%;
  padding: 1rem;
  background-color: white;
}

.label-modal-container h3 {
  position: absolute;
  bottom: 0;
}

/* Extra small devices (less than 768px) */
@media (max-width: 48rem) {
  .playlist {
    padding: 1rem;
  }
  
  .playlist .image-container {
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
}
