body {
  margin: 0;
  background: #000;
  font-family: Helvetica;
}

.background {
  background: #000 center/contain no-repeat;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  padding-bottom: 51.38%;
  height: 0;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.path {
  fill: rgba(0,0,0,0);
  stroke: #f0f;
}

.modal_cont {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}

.modal {
  position: fixed;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  height: 450px;
  left: 100px;
  right: 100px;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
}

.modal_blind {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.modal_item {
}

.modal_left_col {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 150px;
  padding-right: 60px;
  padding-top: 50px;
}

.modal_title {
  font-size: 23px;
  margin-bottom: 20px;
}

.modal_publication {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal_description {
  line-height: 1.3;
}

.modal_image_list {
  float: left;
  width: 50%;
  padding: 30px 50px 30px 90px;
  box-sizing: border-box;
}

.modal_image {
  float: left;
  width: 25.33%;
  height: 0px;
  padding-top: 25.33%;
  margin: 3.5% 4%;
  background: center/contain no-repeat;
}


.lightbox_cont {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.lightbox_blind {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.lightbox {
  background: #222;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 15px;
  right: 15px;
}

.lightbox_image {
  width: 200px;
  height: 200px;
  background: center/contain no-repeat;
  float: left;
}

