<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='/static/style.css'/>
  </head>
  <body>
    <div class='error_screen'>
      <div class='title_cont'>
        <div id='title' class='title'>Playlist not found 😭</div>
        <div id='subtitles' class='subtitles'>Sorry, there isn't any XOS Playlist data.</div>
      </div>
      <div class='content'>
        <div id='content0' class="standard">
          <p><strong>Things to try</strong>:</p>
          <ul>
            <li>Do you have an internet connection?</li>
            <li>Is this device connected to the VPN?</li>
            <li>Can you access <a href="https://xos.acmi.net.au">XOS</a>?</li>
            <li>Have you setup this device in <a href="https://xos.acmi.net.au">XOS</a>?</li>
            <li>Instructions and more help are available in the ACMI Knowledge Base: <a href="https://kb.acmi.net.au/display/XOS/How-to+articles">kb.acmi.net.au</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
